@{
    var vAction = Context.Request.RouteValues["Action"].ToString();
    var vController = Context.Request.RouteValues["Controller"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-custom navbar-expand-sm navbar-toggleable-sm text-white border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyLibrary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link @if (vController == "Home" && vAction == "Index") {<text>active</text>}" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @if (vController == "Product") {<text>active</text>}" asp-area="" asp-controller="Book" asp-action="List">All Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @if (vController == "Technician") {<text>active</text>}" asp-area="" asp-controller="Book" asp-action="Favorites">Favorite Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @if (vController == "Customer") {<text>active</text>}" asp-area="" asp-controller="Author" asp-action="List">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @if (vController == "Incident") {<text>active</text>}" asp-area="" asp-controller="Series" asp-action="List">Series</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @if (vController == "Registration") {<text>active</text>}" asp-area="" asp-controller="Bookshelf" asp-action="List">Bookshelves</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-right @if (vController == "Home" && vAction == "About") {<text>active</text>}" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.Keys.Contains("ActionMessage"))
            {
            <h4 class="bg-info text-white text-center p-2 rounded">@TempData["ActionMessage"]</h4>
            }
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
